!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
# SqLite-DB
home-assistant_v2.db*
home-assistant.log*
set_fomino_llt.sh
set_vishnya_llt.sh

sensors

mosquitto.log
